*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.box{
  width: 150px;
  height: 150px;
  background-color: #fa895d;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.shadow {
  width: 80px;
  height: 20px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin-top: -10px;
  filter: blur(2px);
  z-index: 1;
}